{
    "pki_token": "MySecretPKIToken",
    "apikeys": [
        {
            "client": "frankfurt.client",
            "key": "FrankfurtKey"
        },
        {
            "client": "essen.client",
            "key": "EssenKey"
        }
    ]
}