{
    "pki_token": "MySecretPKIToken",
    "apikeys": [
        {
            "client": "Local Component 1",
            "key": "LocalComponent1Secret"
        },
        {
            "client": "Local Component 2",
            "key": "LocalComponent2Secret"
        }
    ]
}
