[package]
name = "proxy"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
shared = { path = "../shared" }
async-recursion = "1.0.0"

# Web Server & clean shutdown
axum = "0.5.9"
hyper = { version = "0.14.19", features = ["full"] }
ctrlc = { version = "3.2.2", features = ["termination"] }

# for HTTP client
hyper-tls = "0.5.0"
httpdate = "1.0.2"

# Error handling
thiserror = "1.0.31"
anyhow = "1.0.58"

# Logging is imported through shared
tracing = "0.1.35"
#tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }

# Command Line Interface
clap = { version = "3.2.8", features = ["env", "derive"] }

# Config file parsing
serde = "1"
serde_json = "1"

lazy_static = "1.4.0"

# Param parsing
jwt-simple = "0.11.0"