name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - uses: Swatinem/rust-cache@v1
    - name: Cargo (build)
      run: cargo build --release
    - name: Cargo (run tests)
      run: cargo test --release -- --test-threads=1
      # ^-- We're unable to run in parallel as we spawn conflicting server processes on defined ports.
    - name: Upload Artifact (central)
      uses: actions/upload-artifact@v3
      with:
        name: central
        path: target/release/central
    - name: Cargo (bloat)
      uses: orf/cargo-bloat-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        bloat_args: --profile bloat
        tree_args: --profile bloat
