name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - uses: Swatinem/rust-cache@v1
    - name: Cargo (build)
      run: cargo build --release
    - name: Cargo (run tests)
      run: cargo test --release
    - name: Upload Artifact (central)
      uses: actions/upload-artifact@v3
      with:
        name: central
        path: target/release/central
